<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel='stylesheet' href='/css/styles.css' />
</head>
<body>
	<header>
		<div class="container">
			<div class="flex-nav">
				<h1 class="logo">Adrian Bilicz</h1>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="projects">
		<div class="container">
			<div class="row">
				<h2>Thank You for sending your email</h2>
			</div>
		</div>
	</section>
</body>
</html>
